@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Footer du site ---------- */
/* -------------------------------------------------- */

.footer {
    &-content {
        &-wrapper {
            padding: 1.5rem 0;
        }

        &-socials-menu {
            display: flex;
            flex-flow: row wrap;
            gap: 1.5rem;
        }
    }

    &-legal {
        &-wrapper {
            background-color: $dark-red;
        }

        &-menu {
            padding: 0;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 5rem;
            padding: 1rem 0;

            .menu-item {
                a {
                    color: $white;
                }
            }

            .current-menu-item {
                opacity: 0.75;
            }
        }
    }
}

@include responsive("md") {
    .footer {
        &-social-menu {
            justify-content: start;
            padding: 1rem 0 0;

            &-wrapper {
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}