@use "../abstracts" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-primary;
	font-size: 10px; // 1rem = 10px
	scroll-behavior: smooth;
}

body {
	background-color: $white;
	color: $black;
}

.section-inner {
	width: calc(100% - 2rem);
	margin: 0 auto;
}

.socials-menu {
	a {
		padding: 1rem;
		border-radius: 50px;
		background-color: $dark-red;
		display: block;
		width: fit-content;
		height: fit-content;
	}

	svg {
		width: 24px;
		height: 24px;
		display: block;
		color: $white;
	}
}

@include responsive("md") {
	.section-inner {
		max-width: 748px;
	}
}

@include responsive("lg") {
	.section-inner {
		max-width: 960px;
	}
}

@include responsive("xl") {
	.section-inner {
		max-width: 1450px;
	}
}