@use "../abstracts" as *;

/* -------------------------------------------------- */
/* ---------- Titre ( Heading ) ---------- */
h1,
h2,
h3 {
    font-family: $font-primary;
    color: $white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.75);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;

    &.has-red-line,
    &.has-white-line {
        &::before {
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            border-radius: 50px;
            width: 100%;
            height: 2.5rem;
            z-index: 2;
        }
    }

    &.has-red-line {
        &::before {
            background-image: url("./imgs/text/red-line.webp");
        }
    }

    &.has-white-line {
        &::before {
            background-image: url("./imgs/text/white-line.webp");
        }
    }

    &.has-circle {
        &::before {
            content: "";
            background-size: contain;
            background-image: url("./imgs/text/circle.webp");
            background-repeat: no-repeat;
            background-position: center;
            width: calc(100% + 4rem);
            height: 15rem;
            position: absolute;
            top: -5rem;
            left: -2rem;
            z-index: 2;
        }
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/* -------------------------------------------------- */
/* ---------- Paragraphe ---------- */

p,
a,
span {
    font-size: 1.6rem;
    line-height: 1.8;
    text-decoration: none;
}

/* -------------------------------------------------- */
/* ---------- Responsive ---------- */

@include responsive("md") {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }
}