$font-primary: "Outfit", sans-serif;
$font-secondary: "StampatelloFaceto", sans-serif;

$flight: 300;
$fregular: 400;
$fsemibold: 600;
$fbold: 700;

/* ----- Import ----- */
@font-face {
    font-family: "StampatelloFaceto";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/StampatelloFaceto.otf);
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/Outfit-Bold.ttf);
}

/* -------------------------------------------------- */
/* ---------- Couleurs ---------- */

$black: #110201;
$white: #f4f4f6;
$dark-red: #690d08;
$red: #b9110e;
$light-red: #d65152;

$danger: #dc3535;
$warning: #ffc107;
$success: #28a745;

$transition: all 0.3s ease-out;

/* -------------------------------------------------- */
/* ---------- Responsive variable ---------- */

$breakpoints: (
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
);